.sidebar-wrapper input[type="email"],
.sidebar-wrapper select {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.3;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.sidebar-wrapper input[type="email"]:focus,
.sidebar-wrapper select:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.sidebar-wrapper input[type="email"]::-moz-placeholder,
.sidebar-wrapper select::-moz-placeholder {
  color: #777777;
  opacity: 1;
}
.sidebar-wrapper input[type="email"]:-ms-input-placeholder,
.sidebar-wrapper select:-ms-input-placeholder {
  color: #777777;
}
.sidebar-wrapper input[type="email"]::-webkit-input-placeholder,
.sidebar-wrapper select::-webkit-input-placeholder {
  color: #777777;
}
button,
input[type="submit"] {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background .15s;
  transition: background .15s;
  color: #ffffff;
  background-color: #0072e9;
  border-color: transparent;
}
button:focus,
input[type="submit"]:focus,
button:active:focus,
input[type="submit"]:active:focus,
button.active:focus,
input[type="submit"].active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
button:hover,
input[type="submit"]:hover,
button:focus,
input[type="submit"]:focus {
  color: #ffffff;
  text-decoration: none;
}
button:active,
input[type="submit"]:active,
button.active,
input[type="submit"].active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
button:hover,
input[type="submit"]:hover,
button:focus,
input[type="submit"]:focus,
button:active,
input[type="submit"]:active,
button.active,
input[type="submit"].active {
  color: #ffffff;
  background-color: #0059b6;
  border-color: rgba(0, 0, 0, 0);
}
input[type="password"],
input[type="text"],
input[type="email"],
textarea,
select,
input[type="number"] {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.3;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
input[type="password"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus,
input[type="number"]:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
input[type="password"]::-moz-placeholder,
input[type="text"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
textarea::-moz-placeholder,
select::-moz-placeholder,
input[type="number"]::-moz-placeholder {
  color: #777777;
  opacity: 1;
}
input[type="password"]:-ms-input-placeholder,
input[type="text"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder {
  color: #777777;
}
input[type="password"]::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
select::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder {
  color: #777777;
}
.woocommerce-page .woocommerce-error {
  background-color: white;
}
input[type="button"] {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background .15s;
  transition: background .15s;
  color: #ffffff;
  background-color: #22262e;
  border-color: #171a1f;
}
input[type="button"]:focus,
input[type="button"]:active:focus,
input[type="button"].active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input[type="button"]:hover,
input[type="button"]:focus {
  color: #ffffff;
  text-decoration: none;
}
input[type="button"]:active,
input[type="button"].active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
input[type="button"]:hover,
input[type="button"]:focus,
input[type="button"]:active,
input[type="button"].active {
  color: #ffffff;
  background-color: #0c0e11;
  border-color: #000000;
}
input[type="button"]:active,
input[type="button"].active,
input[type="button"] .open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.single-product .woocommerce-message a {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background .15s;
  transition: background .15s;
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.single-product .woocommerce-message a:focus,
.single-product .woocommerce-message a:active:focus,
.single-product .woocommerce-message a.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.single-product .woocommerce-message a:hover,
.single-product .woocommerce-message a:focus {
  color: #ffffff;
  text-decoration: none;
}
.single-product .woocommerce-message a:active,
.single-product .woocommerce-message a.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.single-product .woocommerce-message a:hover,
.single-product .woocommerce-message a:focus,
.single-product .woocommerce-message a:active,
.single-product .woocommerce-message a.active {
  color: #ffffff;
  background-color: #449d44;
  border-color: #398439;
}
.single-product .woocommerce-message a:active,
.single-product .woocommerce-message a.active {
  background-image: none;
}
.order_item .product-name small a {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background .15s;
  transition: background .15s;
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.order_item .product-name small a:focus,
.order_item .product-name small a:active:focus,
.order_item .product-name small a.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.order_item .product-name small a:hover,
.order_item .product-name small a:focus {
  color: #ffffff;
  text-decoration: none;
}
.order_item .product-name small a:active,
.order_item .product-name small a.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.order_item .product-name small a:hover,
.order_item .product-name small a:focus,
.order_item .product-name small a:active,
.order_item .product-name small a.active {
  color: #ffffff;
  background-color: #449d44;
  border-color: #398439;
}
.order_item .product-name small a:active,
.order_item .product-name small a.active {
  background-image: none;
}
.woocommerce-tabs .tabs {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  border-bottom: 1px solid #dddddd;
}
.woocommerce-tabs .tabs > li {
  position: relative;
  display: block;
}
.woocommerce-tabs .tabs > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.woocommerce-tabs .tabs > li > a:hover,
.woocommerce-tabs .tabs > li > a:focus {
  text-decoration: none;
}
.woocommerce-tabs .tabs > li.disabled > a {
  color: #777777;
}
.woocommerce-tabs .tabs > li {
  float: left;
  margin-bottom: -1px;
}
.woocommerce-tabs .tabs > li > a {
  margin-right: 2px;
  line-height: 1.3;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.woocommerce-tabs .tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.woocommerce-tabs .tabs > li.active > a,
.woocommerce-tabs .tabs > li.active > a:hover,
.woocommerce-tabs .tabs > li.active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}
.shop_table,
.cart_totals table,
table.shop_attributes {
  width: 100%;
  max-width: 100%;
}
.shop_table > thead > tr > th,
.cart_totals table > thead > tr > th,
table.shop_attributes > thead > tr > th,
.shop_table > tbody > tr > th,
.cart_totals table > tbody > tr > th,
table.shop_attributes > tbody > tr > th,
.shop_table > tfoot > tr > th,
.cart_totals table > tfoot > tr > th,
table.shop_attributes > tfoot > tr > th,
.shop_table > thead > tr > td,
.cart_totals table > thead > tr > td,
table.shop_attributes > thead > tr > td,
.shop_table > tbody > tr > td,
.cart_totals table > tbody > tr > td,
table.shop_attributes > tbody > tr > td,
.shop_table > tfoot > tr > td,
.cart_totals table > tfoot > tr > td,
table.shop_attributes > tfoot > tr > td {
  padding: 8px;
  line-height: 1.3;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.shop_table > thead > tr > th,
.cart_totals table > thead > tr > th,
table.shop_attributes > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.shop_table > caption + thead > tr:first-child > th,
.cart_totals table > caption + thead > tr:first-child > th,
table.shop_attributes > caption + thead > tr:first-child > th,
.shop_table > colgroup + thead > tr:first-child > th,
.cart_totals table > colgroup + thead > tr:first-child > th,
table.shop_attributes > colgroup + thead > tr:first-child > th,
.shop_table > thead:first-child > tr:first-child > th,
.cart_totals table > thead:first-child > tr:first-child > th,
table.shop_attributes > thead:first-child > tr:first-child > th,
.shop_table > caption + thead > tr:first-child > td,
.cart_totals table > caption + thead > tr:first-child > td,
table.shop_attributes > caption + thead > tr:first-child > td,
.shop_table > colgroup + thead > tr:first-child > td,
.cart_totals table > colgroup + thead > tr:first-child > td,
table.shop_attributes > colgroup + thead > tr:first-child > td,
.shop_table > thead:first-child > tr:first-child > td,
.cart_totals table > thead:first-child > tr:first-child > td,
table.shop_attributes > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.shop_table > tbody + tbody,
.cart_totals table > tbody + tbody,
table.shop_attributes > tbody + tbody {
  border-top: 2px solid #dddddd;
}
a.remove {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 13px;
  line-height: 1.3;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background .15s;
  transition: background .15s;
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
a.remove:focus,
a.remove:active:focus,
a.remove.active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a.remove:hover,
a.remove:focus {
  color: #ffffff;
  text-decoration: none;
}
a.remove:active,
a.remove.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
a.remove:hover,
a.remove:focus,
a.remove:active,
a.remove.active {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #ac2925;
}
a.remove:active,
a.remove.active {
  background-image: none;
}
.woocommerce-checkout:before,
.woocommerce-account header:before,
.woocommerce-checkout:after,
.woocommerce-account header:after {
  content: " ";
  display: table;
}
.woocommerce-checkout:after,
.woocommerce-account header:after {
  clear: both;
}
